* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

code {
	background-color: #E9E9E9;
}

p {
	margin: 10px;
	line-height: 150%;
	text-align: justify;
}
body {

	color: #1d1d1d;
	background-color: #f8f8f8;
	padding: 0px;
	margin:0px;
	font-family: 'Ropa Sans', sans-serif;
	font-size: 90%;
	min-width: 810px;
	line-height: 1.8;
}

h1 { 

	font: normal 2em 'Ropa Sans', sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
}

h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
}

header {
	letter-spacing: 2px;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
}

#side-ul {
	margin-left: 3em;
	
}

#headerbar {
	background: #E9E9E9;
	color: #1d1d1d;
	height: 32px;
	margin: 0px auto 0px auto;
	border-bottom: 1px solid black;
	padding-top: 11px;
}

#home {
	float: left;
	margin-left: 32px;
	font-weight: bold;
	display: inline;
	height: 32px;
	line-height: 100%;
	width: 30%;
	font-size: 32pt;
	font-family: 'Oswald';

}

#navbar {
	float: right;
	width: 60%;
	
	margin-right: 32px;
}

#navbar ul {
	float: right;
}

#navbar li {
	position: relative;
	display: inline;
	padding-right: 6px;
	font-size: 16pt;
}

#profile {
	width: 150px;
	height: 150px;
}

.space {
	height: 60px;
}



section, figure, main {
	margin-left: 12px;
	padding: 12px;
}

#clock {
	width: 100px;
	height: 100px;
}

#cp {
	position: absolute;
	left: 32px;
	top: 0px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #E9E9E9;
	border-top: 1px solid black;
	height: 24px;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: bold;
	padding-top: 11px;
}

#footersocs {
	width: 100%;
	text-align: right;
}

#footersocs ul {
	list-style: none;
	margin-right: 32px;
}

#footersocs li {
	padding: 0 6px;
	display: inline;
}

.containersize {
	position: relative;
	width: auto;

}

table, tr, td {
    border: 1px black solid;
}

table {
    margin: 0.5em;
    width: 100%;
}

th {
    background-color: #87CEFA;
    text-align: left;
}
td {
    background-color: gray;    

}

.code_example {
    width: 128px;
}

.code_explanation {
    width: 60%;
}


fieldset {
	width: 60%;
	line-height: 20px;
	padding: 6px;
}

.true, .false {
    background: url("../imgs/tick-cross.png");
    display: block;
    float:left;
    height: 25px;
    width: 25px;}
.false {
    background-position: 0 -25px;
}

#game {
	margin-left: 2em;
}

#yhealth{
	height: 1em;
	width: 25%;
	background-color: green;
	border: 1px solid black;
}

#ehealth{
	height: 1em;
	width: 25%;
	background-color: blue;
	border: 1px solid black;
}

#message {

}

#offerEnds {
	line-height: 1.4em;
	font-size: 1.2em;
	margin-top: .2em;
	margin-left: 1.4em;
}

#cohort {
	font-size: 3em;	
	font-weight: bold;
}

#placeImg {
	width: 4em;
}